/* Preparation Start */
:root {
    /* colors */
    --primary-text-color: #e4b95b;
    --secondary-text-color: ;

  
    --black-color: hsl(0, 0%, 7%);

    --White-color: hsl(0, 0%, 100%);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* html{
      font-size: 16px;
  } */

  body {
    font-family: "Quicksand", sans-serif;
    line-height: 1.3;
    /* font-size: 13px; */
  }

  /* Preparation End */
  
/* Utlites Classes Start */
.primary-text{
    color: var(--primary-text-color);
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

a , a:visited , a:hover{
    color: var(--White-color);
}

.btn{
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
}

.btn-primary{
    color: var(--White-color);
    border:1px solid var(--White-color);
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--primary-text-color);
}

/* Utlites Classes End */


/* Header Start */

header{
    height: 100vh;
    background: url('images/home_bg.jpeg') center center/cover no-repeat;
}

header .navbar{
display: flex;
justify-content: space-between;
align-items: center;

}

header .navbar img{
    width: 80px;
    margin-left: 100px;
}
header .navbar ul {
    display: flex;
    margin-right: 100px;
}

header .navbar ul li a{
    padding: 15px;
    transition: background-color 0.3s ease;
}

header .navbar ul li a:hover{
    border-bottom: 2px solid var(--primary-text-color);
}

header .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}

header .content h1{
    font-size: 40px;
    color: var(--White-color);
}

header .content p {
    margin: 20px 0 40px ;
    color: var(--White-color);
}

header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);

}

header * {
    z-index: 10;
}

/* Header End */