/* Preparation Start */
:root {
    /* colors */
    --primary-text-color: #e4b95b;
    --secondary-text-color: #383848;
    --third-text-color: #9a9a9a;

  
    --black-color: hsl(0, 0%, 7%);

    --White-color: hsl(0, 0%, 100%);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* html{
      font-size: 16px;
  } */

  body {
    font-family: "Quicksand", sans-serif;
    line-height: 1.3;
  }

  /* Preparation End */
  
/* Utlites Classes Start */
.primary-text{
    color: var(--primary-text-color);
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

a , a:visited , a:hover{
    color: var(--White-color);
}

.btn{
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
}

.btn-primary{
    color: var(--White-color);
    border:1px solid var(--White-color);
    transition: background-color 0.3s ease;
}

.btn-secondary{
    color: var(--White-color);
    background-color: var(--secondary-text-color);
    margin-top: 2rem;
    transition: background-color 0.3s ease;
}

.btn-primary:hover , .btn-secondary:hover {
    background-color: var(--primary-text-color);
}



/* Utlites Classes End */


/* Header Start */

header{
    height: 100vh;
    background: url('images/home_bg.jpeg') center center/cover no-repeat;
}

header .navbar{
display: flex;
justify-content: space-between;
align-items: center;
height: 100px;
width: 100%;
}

header .navbar img{
    width: 80px;
    margin-left: 100px;
}
header .navbar ul {
    display: flex;
    margin-right: 100px;
}

header .navbar ul li a{
    padding: 15px 20px;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

header .navbar ul li a:hover{
    border-bottom: 2px solid var(--primary-text-color);
}

header .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}

header .content h1{
    font-size: 40px;
    color: var(--White-color);
}

header .content p {
    margin: 20px 0 40px ;
    color: var(--White-color);
}

header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);

}

header * {
    z-index: 10;
}

/* Header End */

/* About Start */
.container{
    max-width: 1100px;
    margin: auto;
}

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f4f4f4;
    
}

#about .title {
    text-align: center;
    margin-bottom: 4rem;
}

#about h2 {
    font-size: 40px;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}

#about .title p{
    font-size: 14px;
    color: var(--third-text-color);
    font-weight: 600;
}

#about .about-content{
    display: flex;
    justify-content: space-between;
}

#about .about-content img{
    width: 450px ;
}

#about .about-content p {
    color: var(--third-text-color);
    margin-right: 7rem;
    line-height: 1.6;
    font-weight: 500;
}


/* About End */









